<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="chessboard">

    <xacro:include filename="$(find camera_in_cali_pkg)/urdf/inertial.xacro"/>
    <link name="chessboard_link">
        <xacro:box_inertial x="0.14" y="0.2" z="0.001" mass="0.1">
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
        </xacro:box_inertial>

        <collision name="collision">
            <geometry>
                <box size="0.14 0.2 0.001"/>
            </geometry>
        </collision>

        <visual name="visual">
            <geometry>
                <mesh filename="package://camera_in_cali_pkg/meshes/chessboard.dae"/>
            </geometry>
        </visual>

    </link>

    <gazebo reference="chessboard_link">
        <pose>0 0 0.0005 0 0 0</pose>
    </gazebo>

    <gazebo>
        <static>1</static>
    </gazebo>

</robot>
