<launch>
    <arg name="model" default="box.urdf"></arg><!-- 通过 := 进行赋值  -->
    <param name="robot_description" command="$(find xacro)/xacro -i $(find xacro_pkg)/urdf/$(arg model)"></param>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find xacro_pkg)/rviz/xacro.rviz"></node>

    <!-- 下面两行 state 需要起来，不然会joint时会报 state的错 -->
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"></node>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"></node>


</launch>

