<?xml version="1.0" encoding="utf-8" ?>
<robot name="box">

    <material name="red"> <!-- global -->
        <color rgba="1 0 0 0.5"></color>
    </material>

    <link name="base_link">
        <visual>
            <geometry>
                <box size="1 2 3"></box>
            </geometry>
            <material name="red"></material>
        </visual>
    </link>
</robot>