<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="robot" >
    <!-- common gazebo -->
    <xacro:include filename="$(find robot_description)/urdf/common.gazebo.xacro" />

    <!-- fixed ur arm in gazebo -->
    <link name="world" />
    <joint name="world_joint" type="fixed">
        <parent link="world"/>
        <child link="base_link" />
    </joint>
    <!-- load arm -->
    <xacro:include filename="$(find ur3_description)/urdf/ur3.urdf.xacro" />
    <xacro:ur3_robot prefix="" joint_limited="true"/>

    <!-- load gripper -->
    <xacro:include filename="$(find eg2_description)/urdf/eg2.urdf.xacro" />
    <xacro:eg2_gripper connected_to="ee_link" xyz="0.042 0.0 0.007"/>

</robot>
