<?xml version="1.0"?>
<robot name="myrobot">
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0.3"/> <!--step01,refer base_link's frame -->
      <geometry>
        <cylinder length="0.6" radius="0.2"/>
      </geometry>
    </visual>
  </link>
  <link name="right_leg">
    <visual>
      <origin rpy="0 1.57 1.57"/> <!--step03,refer right_leg's frame,has changed,not default parent frame! -->
      <geometry>
        <box size="0.6 0.1 0.2"></box>
      </geometry>
    </visual>
  </link>
  <joint name="base2right_leg" type="fixed">
    <parent link="base_link" />
    <child link="right_leg" />
    <origin xyz="0.25 0 0.3"/> <!-- step02, change right_leg link's frame -->
  </joint>
  <!-- all link frame is parent frame,but can change by joint -->

</robot>
