<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:macro name="gripper_transmission" params="joint">

        <transmission name="${joint}_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${joint}">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="${joint}_motor">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    
    </xacro:macro>

</robot>

