<launch>
    <param name="kinect_description" command="$(find xacro)/xacro --inorder '$(find common_pkg)/urdf/kinect.urdf.xacro'" />

    <!-- spawn kinect in gazebo-->
    <node name="spawn_kinect" pkg="gazebo_ros" type="spawn_model" args="-urdf -param kinect_description -model kinect" respawn="false" output="screen" />

</launch>
