<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

<!-- global plugin -->
<!--     <gazebo>  
         <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
             <robotNamespace>/</robotNamespace>
         </plugin>
     </gazebo>  -->

    <gazebo reference="stage_base_link">
        <selfCollide>true</selfCollide>
        <kp>1000000.0</kp>
        <kd>1</kd>
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>

    <gazebo reference="stage_slide_link">
        <selfCollide>true</selfCollide>
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <kp>1000000.0</kp>
        <kd>1</kd>
    </gazebo>

</robot>

